.border_section{
    border: 5px solid rgb(253, 249, 249);
    padding: 45px 30px 30px; /*The first value 40px represents the top padding, 20px represents the right and 
                               left padding, and the second 20px represents the bottom padding*/
    display: inline-block;
    max-width: 100%;
}
body{
    margin: 40px;
    background-color: blue;
    text-align: center;
    color: lavenderblush;
    font-size: large;
}
            
.icon {
    font-size: 16px; /* Initial size of the icon */
    transition: font-size 0.3s; /* Transition property for smooth animation */
    }

.icon:hover {
    font-size: 25px; /* Enlarged size of the icon on hover */
    cursor: pointer;
    }

.big_img:hover{
    transform: scale(1.1);
}

a{  
    text-decoration: none;    /*to avoid default underline below links */
    color: rgb(221, 242, 30);
}
.hello{
    font-size: 25px;
}