.container{
    margin-top: 1%;
    margin-left: 5%;
    border: 0.7vw solid rgb(253, 249, 249);
    padding: 45px 30px 30px; /*The first value 40px represents the top padding, 20px represents the right and 
                               left padding, and the second 20px represents the bottom padding*/
    display: inline-flexbox;                              
    max-width: 100%;
    background-color: transparent;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.linkedin_link .LinkedInicon {
    display: none;
  } 
.linkedin_link:hover .LinkedInicon {
    display: inline;
  }

.facebook_link .Facebookicon {
    display: none;
  } 
.facebook_link:hover .Facebookicon {
    display: inline-block;
  }
  
body{
    margin: 9vw;
    /* background-image: url("https://www.hdwallpapers.in/download/blue_lines_digital_art_background_4k_hd_abstract-HD.jpg");  */
    text-align: center;
    color: lavenderblush;
    font-size: 3.4vw;
    letter-spacing: 0.1vw;
    line-height: 2.5vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
            
.links {
    font-size: 1.6vw; /* Initial size of the icon */
    transition: font-size 0.3s; /* Transition property for smooth animation */
    }

.links:hover {
    font-size: 3vw; /* Enlarged size of the icon on hover */
    cursor: pointer;
    }

.big_img:hover{
    transform: scale(1.1);
}

a{  
    text-decoration: none;    /*to avoid default underline below links */
    color: rgb(221, 242, 30);
}
.hello{
    font-size: 1.9vw;
    line-height: 4vw;
}

.icon img{
    height: 2.5vw; /* Adjust the percentage as desired */
}